.Titre
{
	background-image:url(/PrepaConcours/Images/Logo.png);
	Background-size:750px;
	background-repeat:no-repeat;
	background-color:#92C6F6;
	text-align: center; 
	font-size: 50px;
	color:white;
	clear:center;
	Text-Shadow:#A4A4A4 3px 3px, #A4A4A4 3px 3px;
	padding:10px;
}

.Intro
{
	text-align:center;
	color:#000000;
	Font-Weight: Bold;
}

.Creation
{
	text-align:center;
}

.enonce
{
	color:black;
	text-decoration:underline;
}

.MessageErreur
{
	color:#FF0000;
	Text-Decoration:Underline;
}

.MessageValider
{
	color:#00FF00;
	Text-Decoration:Underline;
}

.Question
{
	margin-top:15px;
	margin-left:10%;
	margin-right:10%;
	padding:15px;
	text-align:center;
}

.Reponse
{
	margin-top:50px;
	padding:15px;
	border:solid;
	border-color:#278DED;
	border-width:medium;
	border-bottom-style:none;
	border-left-style:none;
	border-right-style:none;
	text-align:center;
}
	
